.flexNavUl {
  display: flex;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  list-style: none;
}

.flexNav li {
  flex: 3;
}

.flexNav .social {
  flex: 1;
}

.toggleNav {
  display: none;
}

@media all and (max-width: 1000px) {
  .flexNavUl {
    flex-wrap: wrap;
  }

  .flexNav li {
    flex: 1 1 50%;
  }

  .flexNav .social {
    flex: 1 1 25%;
  }
}

@media all and (max-width: 500px) {
  .flexNav {
    order: -1;
  }
  .flexNav li {
    flex-basis: 100%;
  }

  .toggleNav {
    display: block;
  }

  .flexNavUlOpen {
    display: flex;
  }

  .flexNavUlClose {
    display: none;
  }
}
